
/* overide response operations styles for BRES MVP */




body{
  font-size: 100%;
}


.xyui-t6{
  max-width: 1000px;
  margin: 0 auto;
}

.xyui-t6 #yui-main .yui-b{
  width: 95%; !important
  margin: 0 auto; !important
}


.page__header--title{
  color: #fff;
}


.sitename{
  padding-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
}


input[type="text"]{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #659acb;
}

#postcodesearch{
  padding-top: 0.5rem;
  float: right;
}


#postcodesearch input[type="text"]{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #659acb;
}




#menucontainer{
  background-color: #fff;
  border: 0;
  margin: 1rem 0;
}

#menucontainer ul li a{
  width: auto;
  margin-right: 1rem;
}

#postcodesearch{
  border: 0;
}

#sampleunitref{
  border: 0;
}




ul#menu{
  padding: 0;
  margin: 0;
  border: 0;
}

ul#menu li{
  display: inline;
}

ul#menu li a:link,
ul#menu li a:visited{
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0 1rem 0 0;
  color: #fff;
  border: 1px solid #fff;
}

ul#menu li a:hover{
  text-decoration: underline;
  color: #fff;
}








#breadcrumbs{

text-align: left;
margin: 1rem 0;
padding-top: 0.5rem;
color: #666;
background: #fff;
font-size: 0.8rem;

}

#breadcrumbs a:link{
    text-decoration: none;
    color: #666;
}

#breadcrumbs a:visited{
    text-decoration: none;
    color: #666;
}

#breadcrumbs a:hover{
    text-decoration: underline;
    color: #222;
}

#breadcrumbs a:focus,
#breadcrumbs a:active{
    text-decoration: underline;
    color: #fff;
}




h1{
  font-size: 1.55556rem;
}

h2{
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 500;
}

h3{
  font-size: 1.2rem;
  margin-top: 2rem;
}

/*
table.primary{
  background-color: #fff;
  border: 0;
}

table.primary th{
  color: #222;
  border-bottom: 1px solid #999;
}
*/




dl {
  }

dt {
    float: left;
    clear: left;
    width: 8rem;
    font-size: 81.25%;
  }

dt::after {
    content: ":";
  }

dd {
    margin: 0 0 0 8.5rem;
    padding: 0 0 0.5em 0;
    font-size: 81.25%;
  }








table.primary,
table.secondary{
 font-size: 81.25%;
}

table.primary thead tr,
table.secondary thead tr{
  border-bottom: 2px solid #666;
}

table.primary tbody tr,
table.secondary tbody tr{
  border-bottom: 1px solid #ccc;
}

table.primary tbody tr:hover,
table.secondary tbody tr:hover{
  background: #e4d8eb;
  background: #eee;
}

table.primary th, table.primary  td,
table.secondary th, table.secondary  td{
  vertical-align: top;
  text-align: left;
  padding: 0.5rem;
}

table.primary th,
table.secondary th{
  padding-bottom: 0.25rem;
  background: #e4e8eb;
  background: #fff;
}






form.form-edit-email{
  display: block;
  font-size: 1rem;
}

form.form-edit-email p{
  font-size: 81.25%;
}

form.form-edit-email label,
form.form-edit-email input{
  display: block;
  font-size: 81.25%;
}

form.form-edit-email .input-edit-email{
  margin-bottom: 0.5rem;
}

form.form-edit-email .btn-edit-email{
  font-size: 81.25%;
}

form.form-edit-email a.cancel-edit-email{
  font-size: 81.25%;
}
