<%= erb :menu, locals: { pageid: 'home' } %>

<% content_for :breadcrumbs do %>
  <a href="/">Home</a>
<% end %>

<% content_for :sub_heading do %>
  No record found for case <strong><%= h params[:case_id] %></strong>.
<% end %>
