<% content_for :sub_heading do %>
  Right-click and select <strong>Save link as&hellip;</strong> to save a report.
<% end %>

<% if names.any? %>
<ul>
<% names.each do |name| %>
  <li><a href="/helpline-mi/<%= name %>"><%= name %></a></li>
<% end %>
</ul>
<% else %>
<p id="information"><strong>There are no helpline MI reports.</strong></p>
<% end %>
