<%= erb :menu, locals: { pageid: "manage" } %>

<% content_for :breadcrumbs do %>
Manage
<% end %>

<% content_for :sub_heading do %>
Select an administration option below:
<% end %>

<ul id="manage">
  <li><a href="/manage/escalated/complaint">View escalated complaints</a></li>
  <li><a href="/manage/escalated/general">View escalated general</a></li>
  <li><a href="/manage/escalated/survey">View escalated survey</a></li>
</ul>
