<tbody class="addresslines">
<% if address['address_line2'].present? %>
  <tr>
    <td colspan="10"><%=h address['address_line2'].to_title_case %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="10"><%=h address['town_name'].to_title_case %></td>
  </tr>
  <tr>
    <td colspan="10"><%=h address['postcode'] %></td>
  </tr>
</tbody>
