<tbody class="primarylines">
<% if address['addressLine2'].present? %>
  <tr>
    <td colspan="10"><%=h address['addressLine2'].to_title_case %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="10"><%=h address['townName'].to_title_case %></td>
  </tr>
  <tr>
    <td colspan="10"><%=h address['postcode'] %></td>
  </tr>
</tbody>
