<% content_for :menu do %>
  <li id="active"><a href="/">Home</a></li>
  <li><a href="/regions">Addresses</a></li>
<% if authorised? %>
  <li><a href="/manage">Manage</a></li>
<% end %>
<% end %>

<% content_for :breadcrumbs do %>
  500 Internal Server Error
<% end %>

<% content_for :sub_heading do %>
  An internal server error has occurred.
<% end %>
