<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
    <li><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li id="active"><a href="/manage">Manage</a></li>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
Manage
<% end %>

<% content_for :sub_heading do %>
Select an administration option below:
<% end %>

<ul id="manage">
  <li><a href="/manage/escalated">View Escalated Cases</a></li>
</ul>
