<% content_for :menu do %>
  <li id="active"><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
  <li><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li><a href="/manage">Manage</a></li>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  404 Not Found
<% end %>

<% content_for :sub_heading do %>
  The page you were looking for cannot be found.
<% end %>
