<% content_for :menu do %>
  <li><a href="/">Home</a></li>
  <% unless authorised?("collect-csos") %>
  <li id="active"><a href="/regions">Addresses</a></li>
  <% end %>
  <% if authorised?("collect-admins") %>
    <li><a href="/manage">Manage</a></li>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <a href="/">Home</a>
<% end %>

<% content_for :sub_heading do %>
  No record found for questionnaire <strong><%= h params[:questionnaire_id] %></strong>.
<% end %>
