<% content_for :javascript do %>
<script src="/javascripts/signin.js" type="text/javascript"></script>
<% end %>

<form action="/signin" method="post">
  <fieldset>
    <p><input type="text" id="username" name="username" size="25" maxlength="100" placeholder="Username"></p>
    <p><input type="password" size="25" name="password" placeholder="Password"></p>
    <p><input type="submit" class="button" value="Sign In"></p>
  </fieldset>
</form>
<% unless environment == 'production' %>
<p id="badges">
  <img src="https://img.shields.io/badge/built-<%=h built %>-blue.svg" alt=""> <img src="https://img.shields.io/badge/environment-<%=h environment %>-red.svg" alt=""> <img src="https://img.shields.io/badge/commit-<%=h commit %>-orange.svg" alt="">
</p>
<% end %>
